.gf-Fav{
    background-color: rgba(255,172,172,.3);
    border: 0;
    border-radius: 100%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    transition: all .3 ease;
}
.gf-Fav:hover{
    background: rgba(255,172,172,.8);
}
/* .gf-Fav span{
    display: block;
    width: 20px;
} */