.form{
    max-width: 320px;
    width: 100%;
}
.form label{
    display: block;
    font-size: 14px;
    text-align: left;
}
.form input {
    display: block;
    margin-bottom: 16px;
    margin-top: 4px;
    font-size: 16px;
    line-height: 2;
    width: 100%;
    padding: 0 8px;
}
.btn{
    font-size: 18px;
    background-color: rgba(127, 225, 250, 0.829);
    /* border-radius: 0 0.5em 0.5em 0; */
    width: 100%;
    border: none;
    height: 30px;
    color: rgb(107, 95, 95);
    cursor: pointer;
    display: block;
}
.btn{
    background-color: rgba(16, 207, 255, 0.829);
    color: black;
}