

.App {
  text-align: center;
}
.App-logo {
  margin: 0 auto;
  padding: 5px 0;
  width: 100px;
  cursor: pointer;
}

.App-logo img {
  object-fit: cover;
  width: 100%;

}
.App-logo h3{
  margin: 0;
}

.App-content {
  background-color: #111;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0 16px;
}
.search button{
  font-size: 18px;
  background-color:rgba(127, 225, 250, 0.829);
  border-radius: 0 0.5em 0.5em 0;
  border: none; 
  height: 30px;
  color: rgb(107, 95, 95);
  cursor: pointer;
}
.search button:hover{

  background-color:rgba(16, 207, 255, 0.829);
  color: black;
  /* box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.555); */
}
.search input{
  padding-left: 8%;
  border-radius: 0.5em 0 0 0.5em;
  border: none;
  height: 30px;
  width: 80%;
}
.search{
  display: flex;
  margin-bottom: 1%;
  position: sticky;
  top: 0;
  z-index: 2;

}
.content{

  display: flex;
  /* flex-direction:initial; */
  align-items: flex-start;
  /* flex-wrap: wrap; */
  width: 80%;
  
}
.List{
 flex:100% ;
}
/* .ListOfGifs{
  width: 100%;
} */
.App-category{
  /* flex-shrink: 1; */
  flex-shrink:6 ;
  /* margin-top: 0 !important; */
  /* flex-grow: 1; */
  margin-bottom: 25px;
  width: 100%;
  text-align: left;
  margin-left: 20px;
  position:sticky;
  top: 2px;
  /* width: 40%; */

}
.App-category h3{
  margin-top: 0;
  /* color: red; */
}
.App-category a{
  color: whitesmoke;

}
.App-category a:hover{
  color: rgb(182, 23, 23);
}

a{
  color: #09f;
  font-size: 14px;
}
#logo{
  color: coral;
  font-family: 'Lobster', cursive;
  transform: rotate(-3deg);
  letter-spacing: 0.3em;
}

@media screen and (max-width: 55rem){
  .content{
    flex-direction: initial;
    flex-wrap: wrap;
    width:100%;
  }
  .App-category{
    margin-top: 4%;
    
  }
  .App-category ul{
    text-align: center;
  }
  .App-category ul li{
    display:inline-block;
    margin-right: 4%;
  }
  .ListOfGifs{
    margin: 0 auto;
  }
}

#visor{
  width: 100%;
  height: 20px;
  background-color: red;
}